.process-area {
    background-color: $primary;
    color: $light;

    h6 {
        color: $light;
        border-bottom: 3px solid $light;
    }

    .process-item {
        display: flex;
        align-items: start;
        border: 1px solid $light;
        padding: 20px;

        .process-item-number {
            height: max-content;
            background-color: $light;
            color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 25px 30px;
            margin-right: 20px;

            span {
                font-size: 50px;
                font-weight: $bold;
            }


        }

    }
}